name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra/terraform

    steps:
      # ----------------------------
      # Checkout repository
      # ----------------------------
      - name: Checkout code
        uses: actions/checkout@v4

      # ----------------------------
      # Configure AWS credentials (OIDC)
      # ----------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::259242132172:role/AWS---Health-Data-Engineer-Project-github-actions-terraform-role
          aws-region: us-east-1

      # ----------------------------
      # Setup Terraform
      # ----------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # ----------------------------
      # Terraform Init
      # ----------------------------
      - name: Terraform Init
        run: terraform init

      # ----------------------------
      # Terraform Validate
      # ----------------------------
      - name: Terraform Validate
        run: terraform validate

      # ----------------------------
      # Terraform Plan
      # ----------------------------
      - name: Terraform Plan
        run: terraform plan

      # ----------------------------
      # Terraform Apply (main only)
      # ----------------------------
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
